---
layout: default
cur: home
title: SkyInlayer`s Blog 天镶的博客
---
<ul>
	{% for post in paginator.posts %}
	<article class="is-post is-post-excerpt">
		<header>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<span class="byline">{{ post.subTitle }}</span>
		</header>
		<div class="info">
			{{ post.date | date: "<span class='date'><span class='month'>%-m月</span><span class='day'>%-d</span><span class='year'>%Y</span></span>" }}
		</div>
		<!-- <a href="#" class="image image-full"><img src="images/n33-robot-invader.jpg" alt="" /></a> -->
		{{ post.desc }}
	</article>
	{% endfor %}


	{% if paginator.total_pages > 1 %}
	<div class="pager">
	{% if paginator.previous_page %}
	  	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button next">上一页</a>
	{% endif %}
	
	<div class="pages">
	{% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <span class="active">{{ page }}</span>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	{% endfor %}
	</div>

	{% if paginator.next_page %}
	  	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button next">下一页</a>
	{% endif %}
	</div>
	{% endif %}
</ul>