---
layout: default
title: SkyInlayer`s Blog 天镶的博客
---
<ul>
	{% for post in paginator.posts %}
	<article class="is-post is-post-excerpt">
		<header>
			<h2><a href="#">{{ post.title }}</a></h2>
			<span class="byline">{{ post.subTitle }}</span>
		</header>
		<div class="info">
			<span class="date"><span class="month">{{ post.month }}<span>{{ post.monthTail }}</span></span><span class="day">{{ post.day }}</span><span class="year">, {{ post.year }}</span></span>
		</div>
		<!-- <a href="#" class="image image-full"><img src="images/n33-robot-invader.jpg" alt="" /></a> -->
		{{ post.desc }}
	</article>
	{% endfor %}
	<!-- <div class="pager">
		{% if paginator.previous_page %}
		<a href="/blog/page{{ paginator.previous_page }}" class="button previous">上一页</a>
		{% endif %}
	
		<div class="pages">
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<span>&hellip;</span>
			<a href="#">20</a>
		</div>
		{% if paginator.next_page %}
		<a href="/blog/page{{ paginator.next_page }}" class="button next">下一页</a>
		{% endif %}
	</div> -->


	{% if paginator.total_pages > 1 %}
	<div class="pager">
	{% if paginator.previous_page %}
	  	<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button next">上一页</a>
	{% endif %}
	
	<div class="pages">
	{% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <span class="active">{{ page }}</span>
	    {% elsif page == 1 %}
	      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
	    {% endif %}
	{% endfor %}
	</div>

	{% if paginator.next_page %}
	  	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button next">下一页</a>
	{% endif %}
	</div>
	{% endif %}
</ul>