<link rel="stylesheet" type="text/css" href="/blog/css/book.css">
<div id="intro" class="intro">
	<div id="stage" class="stage">
		<div class="container" id="container" style="-webkit-transform: rotateX(10deg);-moz-transform: rotateX(10deg);-o-transform: rotateX(10deg);-ms-transform: rotateX(10deg);transform: rotateX(10deg);">
			<div id="book" class="book">
				<div class="bodyup"></div>
				<div class="bodydown"></div>
				<div class="bodyback"></div>
				<div class="bodyfront"></div>
				<div class="bodyright"></div>
				<div class="side"></div>
				<div class="back"></div>
				
				<div class="cover" page="0">
					<div class="cover_back">
					</div>
					<div class="cover_front">
						<p class="title">天镶の历程</p>
						<p class="writer">作者：天镶</p>
						<p class="desc">
							天才是百分之一的灵感<br/><br/>加上百分之九十九的汗水
						</p>
					</div>
				</div>
				<div class="page">
					<div class="page_content page_front">
						<div class="content">
							<div class="title">
								项目经历
							</div>
							<hr>
							<div class="body">
								<p>独自开发了一个基于NodeJs的博客系统</p>
								<p><img style="width:100%" src="/blog/images/blog.jpg"></p>
								<p>NodeJs、MongoDB、JavaScript、HTML、CSS</p>
							</div>
						</div>
					</div>
					<div class="page_content page_back">
						<div class="content">
						</div>
					</div>
				</div>

				<div class="page" page="4">
					<div class="page_content page_front">
						<div class="content">
							<div class="title">
								项目经历
							</div>
							<hr>
							<div class="body">
								<p>独自开发了一款XMPP协议的WEB IM工具</p>
								<p><img style="width:100%" src="/blog/images/hichat.jpg"></p>
								<p>JavaScript、HTML、CSS、XMPP、OPENFIRE、JSJAC</p>
							</div>
						</div>
					</div>
					<div class="page_content page_back">
						<div class="content">
						</div>
					</div>
				</div>

				<div class="page" page="3">
					<div class="page_content page_front">
						<div class="content">
							<div class="title">
								项目经历
							</div>
							<hr>
							<div class="body">
								<p>参与某公司的CRM系统部分功能的研发并维护</p>
								<p><img style="width:100%" src="/blog/images/crm.jpg"></p>
								<p>Java，Struts+Hibernate3+spring</p>
							</div>
						</div>
					</div>
					<div class="page_content page_back">
						<div class="content">
						</div>
					</div>
				</div>

				<div class="page" page="2">
					<div class="page_content page_front">
						<div class="content">
							<div class="title">
								求学历程
							</div>
							<hr>
							<div class="body">
								<p>2008年从家乡来到北京求学，就读于北京邮电大学计算机科学与技术专业</p>
								<p>使用C++完成各种各样的小需求及大作业，并因爱好在学校OJ上刷算法题</p>
								<p>2012年顺利从北京邮电大学本科毕业，并考取同校计算机学院研究生</p>
								<p>读研究生期间，开始学习Java并参与中心的SSH架构的CRM项目的维护</p>
								<p>同期学习JavaScript、CSS、HTML，并自学NodeJs，从此对NodeJs及前端知识产生浓厚兴趣</p>
							</div>
						</div>
					</div>
					<div class="page_content page_back">
						<div class="content">
						</div>
					</div>
				</div>

				<div class="page" page="1">
					<div class="page_content page_front">
						<div class="content">
							<div class="title">
								个人简介
							</div>
							<hr>
							<div class="body">
								<p>天镶</p>
								<p><img src="/blog/images/avatar.jpg" class="avatar"></p>
								<p>性别：男</p>
								<p>爱好：女</p>
								<p>新浪微博：http://weibo.com/lingyucoder</p>
								<p>邮箱：wly13201@sina.com</p>
								<p>热爱运动，尤其篮球。喜欢ACG相关。对新奇的东西有好奇心，喜欢钻研新奇的技术。"Stay hungry,stay foolish"</p>
							</div>
						</div>
					</div>
					<div class="page_content page_back">
						<div class="content">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/blog/js/jquery.min.js"></script>
<script type="text/javascript">
	var book_thick = 30;
	var $doc = $(document);
	var __rotatePage = function($page){
		var prefix = ["", "-moz-", "-o-", "-ms-", "-webkit-"];
		var page = Number($page.attr("page"));
		for(var i = prefix.length;i--;){
			$page.css(prefix[i] + "transform", "translateZ(" + (book_thick/2 - 0.4) + "px) rotateY(-" + (110 - page * 0.1) + "deg)");
		}
	};

	var __unRotatePage = function($page){
		var prefix = ["", "-moz-", "-o-", "-ms-", "-webkit-"];
		for(var i = prefix.length;i--;){
			$page.css(prefix[i] + "transform", "translateZ("+ (book_thick/2 - 0.4) + "px) rotateY(0deg)");
		}
	};

	$doc.data("page", 0);
	$("#book").click(function(event) {
		var $this = $(this);
		var curPage = $doc.data("page");
		var nextPage;
		var next;
		if (curPage > 0) {
			if($this.find(".page[page='" + curPage + "']").length > 0) {
				__rotatePage($this.find(".page[page='" + curPage + "']"));
				$doc.data("page", curPage + 1);
			}
		} else if (curPage === 0) {
			$this.find(".cover").addClass("cover_turnover");
			$doc.data("page", 1);
		} else {}
	}).contextmenu(function(event) {
		event.stopPropagation();
		event.preventDefault();
		var $this = $(this);
		var curPage = $doc.data("page");
		var nextPage;
		var next;
		if(curPage > 1){
			if($this.find("page[page='" + (curPage - 1) + "']")) {
				__unRotatePage($this.find(".page[page='" + (curPage - 1) + "']"));
				$doc.data("page", curPage - 1);
			}
		} else if(curPage === 1){
			$this.find(".cover").removeClass("cover_turnover");
			$doc.data("page", 0);
		}
	});
</script>
</html>