<section class="recent">
	<h3>最近的文章</h3>
	<div class="inner">
		<ul>
			{% for post in site.posts limit:5 %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<span class="date">{{ post.date | date_to_string }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section class="categories">
	<h3>文章类别</h3>
	<div class="inner">
		<ul>
			{% for cat in site.categories %}
			<li>
				<a href="/show_by_category.html?cat={{ cat | first }}">{{ cat | first }}</a>
				<span class="count">{{ cat | last | size }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section class="all-tags">
	<h3>文章标签</h3>
	<div class="inner">
		<div class="tags">
			{% for tag in site.tags %}
			<a class="tag" href="/show_by_tag.html?tag={{ tag[0] }}"> {{ tag[0] }}</a>
		    {% endfor %}
		</div>
	</div>
</section>