body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
blockquote,
th,
td,
p {
  margin: 0;
  padding: 0;
}
input,
button,
select,
textarea {
  outline: none;
}
img {
  border: none;
}
textarea {
  resize: none;
}
body {
  color: #666;
  background: #fff;
  word-break: break-all;
  word-wrap: break-word;
  text-align: center;
}
body,
input,
textarea {
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
}
a {
  color: #305999;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: #090;
}
@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1410880282_5376792.eot');
  src: url('http://at.alicdn.com/t/font_1410880282_5376792.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('http://at.alicdn.com/t/font_1410880282_5376792.woff') format('woff'), /* chrome、firefox */ url('http://at.alicdn.com/t/font_1410880282_5376792.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('http://at.alicdn.com/t/font_1410880282_5376792.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.5rem;
  font-style: normal;
  font-smoothing: antialiased;
  text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #eeeeee url('/images/light_back.png');
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 16px;
  line-height: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 2rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.625rem;
}
h4 {
  font-size: 1.125rem;
}
blockquote {
  font-size: 1.25rem;
  line-height: 1.25rem;
}
#page-header {
  background: #222222 url('/images/dark_back.png');
  color: #fff;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#page-header:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  visibility: hidden;
  clear: both;
}
#page-header a {
  text-decoration: none;
}
#page-header .wrapper {
  max-width: 60rem;
  margin: auto;
}
#page-header .avatar {
  display: none;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  opacity: .8;
  border: 0.25rem solid #16a085;
  border-radius: 50%;
  vertical-align: top;
  margin-right: 1rem;
  transition: all .4s linear;
}
#page-header .avatar:hover {
  opacity: 1;
}
#page-header .title {
  height: 5rem;
  margin-right: 2rem;
  font-size: 3rem;
  line-height: 5rem;
  cursor: pointer;
}
#page-header .title a {
  color: #fff;
}
#page-header .nav {
  display: block;
}
#page-header .nav .links {
  height: 5rem;
  color: #fff;
  line-height: 5rem;
  text-align: center;
}
#page-header .nav .links li {
  position: relative;
  display: inline-block;
  padding: 0 .5rem;
}
#page-header .nav .links li a {
  color: #fff;
  font-size: 1.5rem;
}
#page-header .nav .icons {
  line-height: 5rem;
  overflow: hidden;
}
#page-header .nav .icons .icon {
  display: inline-block;
  padding: .5rem;
  margin: 0 .5rem;
  height: 1.5rem;
  border-radius: .2rem;
  vertical-align: middle;
  opacity: .5;
  cursor: pointer;
  transition: all .2s linear;
}
#page-header .nav .icons .icon:hover {
  opacity: 1;
}
#page-header .nav .icons .icon i {
  color: #fff;
  line-height: 1.5rem;
  vertical-align: top;
}
#page-header .nav .icons .icon.rss {
  background-color: #faac1e;
}
#page-header .nav .icons .icon.weibo {
  background-color: #d52727;
}
#page-header .nav .icons .icon.github {
  background-color: #000;
}
#page-header .nav .icons .icon.twitter {
  background-color: #55acee;
}
#page-header .nav .icons .icon.facebook {
  background-color: #3b5998;
}
@media only screen and (min-width: 40rem) {
  #page-header {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 60rem) {
  #page-header .avatar {
    float: left;
    display: block;
  }
  #page-header .title {
    float: left;
  }
  #page-header .title a:hover {
    color: #16a085;
    transition: all .2s linear;
  }
  #page-header .links {
    float: left;
  }
  #page-header .links li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #16a085;
    opacity: 0;
    transform: translateY(15px);
    transition: all 0.4s ease-in;
  }
  #page-header .links li a:hover:after {
    opacity: 1;
    transform: translateY(-3px);
  }
}
#page-footer {
  width: 90%;
  padding: 1rem 5% 1rem;
  background: #222222 url('/images/dark_back.png');
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#page-footer a {
  color: #fff;
}
#page-footer a:hover {
  color: #16a085;
}
@media only screen and (min-width: 60rem) {
  #page-footer {
    clear: both;
  }
}
#aside {
  padding-top: 5%;
  background: #222222 url('/images/dark_back.png');
  color: #fff;
  font-weight: bold;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#aside section {
  padding: 1rem;
}
#aside section:after {
  content: "";
  position: relative;
  display: block;
  margin: 2rem auto 0;
  border-bottom: 3px solid #fff;
  height: 0;
  width: 50%;
}
#aside a {
  text-decoration: none;
  color: #fff;
}
#aside a:hover {
  color: #16a085;
}
#aside .title {
  color: #fff;
  line-height: 2rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}
#aside .title i {
  margin-left: .5rem;
}
#aside li {
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#aside li span:before {
  content: ' (';
}
#aside li span:after {
  content: ') ';
}
#aside .tag-list-item {
  display: inline-block;
  width: 45%;
  margin-bottom: .3rem;
}
@media only screen and (min-width: 40rem) {
  #aside:after {
    content: "";
    display: block;
    height: 1px;
    clear: both;
    visibility: hidden;
  }
  #aside section {
    padding: 1rem;
  }
}
@media only screen and (min-width: 60rem) {
  #aside {
    overflow: hidden;
    border-bottom: none;
    padding-top: 0;
  }
  #aside section {
    width: 100%;
    float: none;
    border: none;
  }
  #aside section:after {
    display: none;
  }
}
@media only screen and (min-width: 60rem) {
  #aside {
    background: none;
    color: #555;
    box-shadow: none;
  }
  #aside a {
    text-decoration: none;
    color: #555;
  }
  #aside .title {
    color: #555;
    padding: .5rem 0;
    border-bottom: 1px dotted #555;
  }
}
#main .post {
  text-align: left;
  position: relative;
}
#main .post a {
  font-weight: bold;
  text-decoration: none;
  color: #16a085;
}
#main .post .blog-title {
  position: relative;
  line-height: 3rem;
  width: 100%;
  margin-bottom: .5rem;
  padding: 0 2rem;
  left: -2rem;
  color: #16a085;
  cursor: pointer;
  transition: all .3s linear;
}
#main .post .blog-title:hover {
  color: #775B8A;
}
#main .post .byline {
  color: #bbb;
  margin-bottom: 1rem;
}
#main .post .desc {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222;
}
#main .post .brief {
  margin-bottom: 1rem;
}
#main .post .brief img {
  width: 100%;
  margin: .5rem 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
#main .post .cover {
  width: 100%;
  margin: .5rem 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
#main .post .info {
  display: none;
  overflow: hidden;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  color: #fff;
  background-color: #16a085;
}
#main .post .info .date {
  float: left;
}
#main .post .info .replies {
  float: left;
}
#main .post .info .replies li {
  margin-left: 1em;
  display: inline-block;
}
#main .post .info .replies li .iconfont {
  margin-right: .2em;
}
#main .post .info .detail {
  float: right;
  color: #fff;
}
#main .post .info .detail:after {
  content: "";
  position: relative;
  display: inline-block;
  top: .2rem;
  width: 0;
  height: 0;
  border-left: .6rem solid #fff;
  border-top: .6rem solid transparent;
  border-bottom: .6rem solid transparent;
  margin-left: .6em;
  transition: all .2s linear;
  opacity: 0;
}
#main .post .info .detail:hover:after {
  opacity: 1;
}
#main .post .blog-tag {
  position: relative;
  display: inline-block;
  padding: .2rem 1rem .2rem 2rem;
  margin: 0 .5rem .5rem 0;
  border-radius: 2em;
  background-color: #775B8A;
  color: white;
  font-size: .8rem;
}
#main .post .blog-tag:before {
  content: "";
  position: absolute;
  top: .3rem;
  left: .5rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
  border-radius: 50%;
}
#main .post .blog-tag:hover:before {
  animation: 1s tagRotate linear infinite;
}
@keyframes tagRotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@media only screen and (min-width: 40rem) {
  #main .post {
    margin-bottom: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  #main .post .info {
    display: block;
  }
}
@media only screen and (min-width: 60rem) {
  #main .post {
    margin-bottom: 2.5rem;
  }
}
#main .content img {
  max-width: 100%;
}
#main .content figure {
  overflow-x: auto;
  width: 100%;
  margin: 1rem 0;
}
#main .content figure table {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}
#main .content figure table td {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: top;
  background: #222222 url('/images/dark_back.png');
}
#main .content figure pre {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  color: #c5c8c6;
  padding: 1rem .5rem;
  white-space: pre;
  margin: 0;
  border: 0;
  background: none;
}
#main .content figure .gutter {
  width: 3rem;
}
#main .content figure .gutter pre {
  color: #666;
  text-align: right;
}
#main .content code {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  color: #ea2765;
  font-size: 80%;
  margin: 0 2px;
  padding: 1px 4px;
  white-space: normal;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#main .content .toc-index {
  float: right;
}
#main .content .toc-index ol {
  list-style: none;
  margin-bottom: 0;
}
#main pre .comment {
  color: #969896;
}
#main pre .title,
#main pre .variable,
#main pre .attribute,
#main pre .tag,
#main pre .regexp,
#main pre .ruby .constant,
#main pre .tag .title,
#main pre .pi,
#main pre .doctype,
#main pre .id,
#main pre .class,
#main pre .pseudo {
  color: #c66;
}
#main pre .number,
#main pre .preprocessor,
#main pre .pragma,
#main pre .built_in,
#main pre .literal,
#main pre .params,
#main pre .constant {
  color: #de935f;
}
#main pre .class .title,
#main pre .rules .attribute {
  color: #f0c674;
}
#main pre .string,
#main pre .value,
#main pre .inheritance,
#main pre .header,
#main pre .symbol,
#main pre .cdata {
  color: #b5bd68;
}
#main pre .css .hexcolor {
  color: #8abeb7;
}
#main pre .function,
#main pre .function .title,
#main pre .decorator,
#main pre .python .title,
#main pre .title .keyword,
#main pre .perl .sub,
#main pre .javascript .title,
#main pre .coffeescript .title {
  color: #81a2be;
}
#main pre .keyword,
#main pre .javascript .function {
  color: #b294bb;
}
#main pre .coffeescript .javascript,
#main pre .javascript .xml,
#main pre .tex .formula,
#main pre .xml .javascript,
#main pre .xml .vbscript,
#main pre .xml .css,
#main pre .xml .cdata {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
#main .jia {
  overflow: hidden;
}
#main .pager {
  padding: .5rem;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}
#main .pager .pre {
  position: relative;
  display: inline-block;
  height: 2rem;
  padding: 0 1rem;
  background: #16a085;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  line-height: 2rem;
  transition: all .4s linear;
  float: left;
  margin-left: 1rem;
}
#main .pager .pre:hover {
  color: #775B8A;
}
#main .pager .pre:before {
  left: -1rem;
  border-right: 1rem solid #16a085;
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
#main .pager .pre:after {
  right: -1rem;
  border-right: 1rem solid transparent;
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1rem solid #16a085;
  border-bottom: 1rem solid #16a085;
}
#main .pager .next {
  position: relative;
  display: inline-block;
  height: 2rem;
  padding: 0 1rem;
  background: #16a085;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  line-height: 2rem;
  transition: all .4s linear;
  float: right;
  margin-right: 1rem;
}
#main .pager .next:hover {
  color: #775B8A;
}
#main .pager .next:after {
  right: -1rem;
  border-left: 1rem solid #16a085;
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
#main .pager .next:before {
  left: -1rem;
  border-left: 1rem solid transparent;
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 1rem solid #16a085;
  border-bottom: 1rem solid #16a085;
}
@media only screen and (min-width: 40rem) {
  #main .pager {
    padding: 1rem;
    background: none;
  }
}
#main {
  max-width: 40rem;
  margin: auto;
  padding: 0 0;
}
#main .type-title {
  padding: .5rem;
  color: #555;
  background: rgba(255, 255, 255, 0.8);
}
@media only screen and (min-width: 40rem) {
  #main {
    max-width: 60rem;
    padding: 0 1rem;
  }
  #main .type-title {
    background: none;
  }
}
@media only screen and (min-width: 60rem) {
  #main {
    float: left;
    width: 40rem;
    padding: 0 2rem;
  }
}
#wrapper {
  max-width: 60rem;
  margin: auto;
}
#totop {
  display: none;
}
@media only screen and (min-width: 40rem) {
  #totop {
    position: fixed;
    z-index: 100;
    display: block;
    width: 3rem;
    right: 3rem;
    bottom: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: .5rem;
    font-size: 2rem;
    background-color: #bbb;
    color: #222;
    opacity: .8;
    text-decoration: none;
  }
  #totop:hover {
    color: #fff;
    background-color: #16a085;
  }
}
