.btn {
	border: none;
	color: #fff;
	padding: .3em 1.2em;
	cursor: pointer;
	font-size: 16px;
}
.btn-open {
	background: cornflowerblue;
}
.btn-close {
	background-color: chocolate;
}
.sample-ui-tip {
	position: absolute;
	padding: .5em;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	z-index: 1000000;
	color: #fff;
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
	max-width: 15em;
	background-color: chocolate
}
.sample-ui-tip .sample-ui-tip-arrow {
	position: absolute
}