<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
		<link rel="stylesheet" href="/css/skel-noscript.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-desktop.css" />
		<link rel="stylesheet" href="/css/style-wide.css" />
		<link rel="stylesheet" href="/css/github.css" />
	</head>
	<body class="left-sidebar">
		<div id="wrapper">
			<div id="content">
				<div id="content-inner">
					<article class="is-post is-post-excerpt">
						<header>
							<h2><a href="#">{{ page.title }}</a></h2>
							<span class="byline">{{ page.subTitle }}</span>
						</header>
						<div class="info">
							{{ page.date | date: "<span class='date'><span class='month'>%m月</span><span class='day'>%d</span><span class='year'>%Y</span></span>" }}
						</div>
						{{ content }}
						<div class="ds-thread" style="min-height:277px"></div>
					</article>
				</div>
			</div>
			<div id="sidebar">
				{% include sidebar.html %}
			</div>
		</div>
		<!-- Duoshuo Comment BEGIN -->
		<script type="text/javascript">
			var duoshuoQuery = {short_name:"skyinlayer"};
			(function() {
				var ds = document.createElement('script');
				ds.type = 'text/javascript';ds.async = true;
				ds.src = 'http://static.duoshuo.com/embed.js';
				ds.charset = 'UTF-8';
				(document.getElementsByTagName('head')[0] 
				|| document.getElementsByTagName('body')[0]).appendChild(ds);
			})();
		</script>
		<!-- Duoshuo Comment END -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-panels.min.js"></script>
		<script src="/js/highlight.pack.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>