<section class="recent">
	<h3>最近的文章</h3>
	<div class="inner">
		<ul>
			{% for post in site.posts limit:5 %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<span class="date">{{ post.date | date_to_string }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section class="search">
	<h3>搜索</h3>
	<div class="inner">
		<div class="si">
			<input type="search" id="searchIpt" placeholder="输入搜索标题"/>
			<button id="searchBtn">>></button>
		</div>
	</div>
</section>
<section class="categories">
	<h3>类别</h3>
	<div class="inner">
		<ul>
			{% for cat in site.categories %}
			<li>
				<a href="/search.html?cat={{ cat[0] }}">{{ cat[0] }}</a>
				<span class="count">{{ cat | last | size }}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
<section class="all-tags">
	<h3>标签</h3>
	<div class="inner">
		<div class="tags">
			{% for tag in site.tags %}
			<a class="tag" href="/search.html?tag={{ tag[0] }}" count="{{ tag | last | size }}"> {{ tag[0] }}</a>
		    {% endfor %}
		</div>
	</div>
</section>
<section class="subscribe">
	<h3>RSS订阅</h3>
	<div class="inner">
		<ul>
			<li><a href="http://xianguo.com/subscribe?url=http%3A%2F%2Fskyinlayer.com%2Frss.xml"><span class="sub-icon sub-xianguo"></span>鲜果</a></li>
			<li><a href="http://www.zhuaxia.com/add_channel.php?sourceid=102&url=http%3A%2F%2Fskyinlayer.com%2Frss.xml"><span class="sub-icon sub-zhuaxia"></span>抓虾</a></li>
			<li><a href="http://feedly.com/index.html#subscription%2Ffeed%2Fhttp%3A%2F%2Fskyinlayer.com%2Frss.xml"><span class="sub-icon sub-feedly"></span>feedly</a></li>
			<li><a href="http://e.my.yahoo.com/config/cstore?.opt=content&.url=http%3A%2F%2Fskyinlayer.com%2Frss.xml"><span class="sub-icon sub-yahoo"></span>My Yahoo!</a></li>
			<li><a href="http://digg.com/reader/search/skyinlayer.com%2Frss.xml"><span class="sub-icon sub-digg"></span>Digg</a></li>
			<li><a href="http://skyinlayer.com/rss.xml">手动RSS订阅</a></li>
		</ul>
	</div>
</section>
<section class="other">
	<h3>其他</h3>
	<div class="inner">
		<ul>
			<li><a href="/editor.html">在线编辑器</a></li>
			<li><a href="/gitbook">读书笔记</a></li>
			<li><a href="/about.html">关于我</a></li>
		</ul>
	</div>
</section>